<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Cloud Blog</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">CLOUD BLOG</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          
          <% if (isAuthenticated) { %>
            <form action="/user/logout?_method=DELETE" method="POST">
              <button type="submit">Logout</button>
            </form>
            <li id="home"><a href="/post/">HOME</a></li>
            <li id="compose"><a href="/post/compose">Compose</a></li>
          <% } %>

          <% if (!isAuthenticated) { %>
            <li id="register"><a href="/user/register">Register</a></li>
            <li id="login"><a href="/user/login">Login</a></li>
          <% } %>

          <li id="about"><a href="/post/about">ABOUT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
